body {
    background-color: #222 !important;
    font-family: Helvetica;
    border-color: dodgerblue;
}

#header {
    width: 100%;
    height: 50px;
    top: 0px;
    text-align: center;
}

#mainhead {
    background-color: #222;
    font-family: Helvetica;
    transition-duration: 0.3s;
    color: dodgerblue;
    text-align: center;
    font-size: 35px;
}

.option {
    display: inline-block;
    position: absolute;
    font-size: 25px;
    color: dodgerblue;
}

item:hover {
    color: white !important;
    cursor: pointer;
}

h3 {
    text-align: center;
    color: white;
}

.viewable {
    color: white;
    visibility: visible;
}

#textarea {
    width : 40%;
    height: 85%;
    font-family: Helvetica;
    background-color: #444;
    color: antiquewhite;
}

#home {
    left: 10%;
}

#about {
    left: 35%;
}

#run {
    left: 60%;
}

#clear {
    left: 85%;
}

#main {
    margin-top: 35px;
}

#reports {
    background-color: #222;
    position: absolute;
    left: 50%;
    width: 40%;
    height: 80%;
    overflow-y: scroll;
}

report {
    color: antiquewhite;
}
